<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="track the most played games" />
    <link
      rel="stylesheet"
      <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Databases - Tracking what's played</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='graph/RGraph.common.core.js') }}"></script>
    <!-- Always needed -->
    <script src="{{ url_for('static', filename='graph/RGraph.common.dynamic.js') }}"></script>
    <!-- Just needed for dynamic features -->

    <script src="{{ url_for('static', filename='graph/RGraph.common.annotate.js') }}"></script>
    <!-- Just needed for the annotating functionality -->
    <script src="{{ url_for('static', filename='graph/RGraph.common.context.js') }}"></script>
    <!-- Just needed for context menus -->
    <script src="{{ url_for('static', filename='graph/RGraph.common.csv.js') }}"></script>
    <!-- Just needed for accessing CSV files -->
    <script src="{{ url_for('static', filename='graph/RGraph.common.effects.js') }}"></script>
    <!-- Just needed for visual effects -->
    <script src="{{ url_for('static', filename='graph/RGraph.common.key.js') }}"></script>
    <!-- Just needed for showing keys -->
    <script src="{{ url_for('static', filename='graph/RGraph.common.sheets.js') }}"></script>
    <!-- Just needed for accessing Google Sheets -->
    <script src="{{ url_for('static', filename='graph/RGraph.common.tooltips.js') }}"></script>
    <!-- Just needed for showing tooltips -->

    <script src="{{ url_for('static', filename='graph/RGraph.activity.js') }}"></script>
    <!-- Just needed for Activity meters -->
    <script src="{{ url_for('static', filename='graph/RGraph.bar.js') }}"></script>
    <!-- Just needed for Bar charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.bipolar.js') }}"></script>
    <!-- Just needed for Bi-polar charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.fuel.js') }}"></script>
    <!-- Just needed for Fuel charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.funnel.js') }}"></script>
    <!-- Just needed for Funnel charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.gantt.js') }}"></script>
    <!-- Just needed for Gantt charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.gauge.js') }}"></script>
    <!-- Just needed for Gauge charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.hbar.js') }}"></script>
    <!-- Just needed for Horizontal Bar charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.hprogress.js') }}"></script>
    <!-- Just needed for Horizontal Progress bars -->
    <script src="{{ url_for('static', filename='graph/RGraph.horseshoe.js') }}"></script>
    <!-- Just needed for Horseshoe meters -->
    <script src="{{ url_for('static', filename='graph/RGraph.line.js') }}"></script>
    <!-- Just needed for Line charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.meter.js') }}"></script>
    <!-- Just needed for Meter charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.odo.js') }}"></script>
    <!-- Just needed for Odometers -->
    <script src="{{ url_for('static', filename='graph/RGraph.pie.js') }}"></script>
    <!-- Just needed for Pie AND Donut charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.radar.js') }}"></script>
    <!-- Just needed for Radar charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.rose.js') }}"></script>
    <!-- Just needed for Rose charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.rscatter.js') }}"></script>
    <!-- Just needed for RScatter charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.scatter.js') }}"></script>
    <!-- Just needed for Scatter charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.segmented.js') }}"></script>
    <!-- Just needed for Segmented donut charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.semicircularprogress.js') }}"></script>
    <!-- Just needed for Semi-circular Progress charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.thermometer.js') }}"></script>
    <!-- Just needed for Thermometer charts -->
    <script src="{{ url_for('static', filename='graph/RGraph.vprogress.js') }}"></script>
    <!-- Just needed for Vertical Progress bars -->
    <script src="{{ url_for('static', filename='graph/RGraph.waterfall.js') }}"></script>
    <!-- Just needed for Waterfall charts  -->
  </head>
  <body>
    <div id="content-wrap">
      <div id="header">
        <a id="logo" href="index.html"
          ><span id="logo-steam">STEAM</span
          ><span id="logo-charts">TAGS</span></a
        >
        <i>An ongoing analysis of Steam's game tags.</i>
        <div style="float: right">
          <form action="/search/" id="search" class="inline" role="search">
            <input type="text" name="q" placeholder="search tags" />
          </form>
        </div>
      </div>
      <div class="content">
        <h2>TOP 10 TRENDING TAGS</h2>
        <table id="trending-recent" class="trending common-table">
          <tbody>
            <tr class="odd">
              <td class="game-name left"></td>
              <td class="num">
                <canvas
                  id="myChart2"
                  style="width: 100%; max-width: 1600px"
                ></canvas>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
     
  
      </div>
      <div id="footer">
        <a href="#">About</a> | <a href="#">Privacy</a> |
        <a href="#">Advertise</a> |
      </div>
      <div id="closing">
        "All data is
        <a href="http://steampowered.com">powered by Steam</a>
        . Not affiliated with Valve in any way. All trademarks are property of
        their respective owners in the US and other countries. Out goal is to
        provide unique insight into gaming trends. © steamtags.com"
      </div>
    </div>

    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
      window.jQuery || document.write('<script src="{{
        url_for('static', filename='jquery.js') }}">\x3C/script>')
    </script>
    <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
  </body>
</html>
